.product-card {
    max-width: 150px;
    transition: transform 0.3s ease;
    margin: 5px 50px;
}

.product-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title {
    margin-left: 50px;
}